<div class="container">
  <h1><%= @restaurant.name %></h1>
  <br>
    <div class="col-7">
      <p><strong>Address:</strong> <%= @restaurant.address %></p>
      <p><strong>Category:</strong> <%= @restaurant.category %></p>
      <p><strong>Phone:</strong> <%= @restaurant.phone_number %></p>
    </div>
    <div class="col-7">
      
    </div>
</div>
<% raise %>